<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ASPNETDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\DELL\Documents\Visual Studio 2010\WebSites\SUMMER_PROJECT\App_Data\ASPNETDB.MDF&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString" connectionString="Data Source=DELL-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString2" connectionString="Data Source=DELL-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString3" connectionString="Data Source=DELL-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString4" connectionString="Data Source=DELL-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString5" connectionString="Data Source=DELL-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString6" connectionString="Data Source=DELL-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString7" connectionString="Data Source=TANWAR-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="projectConnectionString8" connectionString="Data Source=TANWAR-PC;Initial Catalog=project;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
    <authentication mode="Forms" >
      <forms loginUrl="Login.aspx"></forms>
    </authentication>
    
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <system.net>
    <mailSettings>

      <smtp from="chaitz24@yahoo.co.in">
        <network host="localhost" port="25"

        defaultCredentials="true" />
      </smtp>

    </mailSettings>
  </system.net>
</configuration>
